#dishes:before {
    z-index: -1;
    content: '';
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background-image: url("images/biarritz8.jpg");
    background-size: cover;
    filter: blur(2px);
}

#dishes > h2 {
    color: black;
    padding-left: 5em;
}

.txt {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    box-shadow: 1px 1px 10px #000000;
    margin-bottom: 1em;

}

.txt > h3 {
    font-size: 35px;
    font-weight: bold;
    color: orange;
    text-shadow: 1px 1px grey;
}

.txt > p {
    font-size: 22px;
}

.txt:hover {
    box-shadow: 3px 3px 10px brown;
    transform: translateY(-10px);
}

.top {
    margin-top: 20em;
}

.top:hover {
    transform: translateY(10px);
    box-shadow: 0 -3px 10px brown;
}

.col-md-4 > .thumbnail {
    max-width: 100%;
    min-height: 400px;
    box-shadow: 1px 1px 10px #000000;
}

.col-md-4 > .thumbnail:hover {
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.imgA {
    margin-top: 2em;
    -ms-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);

}

.imgB {
    margin-top: 2em;
    -ms-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
}

#responsiveDishes {
    display: none;
}