body {
background-image: url('bordeaux.jpg');

background-size: cover;

}

.titresection {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    font-family: 'Lobster Two', cursive;
   
}

#contact {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    justify-content: center;
}


.navbar {
    background-color: rgba(255,255,255,0.7);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    font-family: 'Lobster Two', cursive;
    font-size: 20px;
}

.adresse {
    margin-left: 30px;
}

form {
    font-family: 'Lobster Two', cursive;
    font-size: 20px;
}