@media(max-width: 768px) {
    /* Styles pour smartphone */
    #logo {
        display: none;
    }
    .nav {
        height: 100%;
    }
    .navbar-nav .open .dropdown-menu {
        position: absolute;
        top: 0px;
    }
    #uberEats,
    #deliveroo,
    #foodora,
    #moonyTake,
    #tripAdvisor,
    #instagram,
    #googlePlus {
        position: absolute;
        height: 60px;
        width: 75px;
        left: 16px;
    }
    #deliveroo {
        left: 84px;
        top: -8px;
        width: 90px;
    }
    #foodora {
        left: 170px;
        top: -30px;
    }
    #moonyTake {
        left: 265px;
        top: -50px;
        width: 85px
    }
    #facebook {
        left: 253px;
        top: -115px;
    }
    #tripAdvisor {
        top: -9px;
        left: 17px;
    }
    #instagram {
        top: -29px;
        left: 92px;
    }
    #googlePlus {
        left: 167px;
        top: -50px;
        width: 80px
    }
    #social {
        height: 60px;
    }
    #leftControls,
    #rightControls {
        text-align: right;
        height: 70px;
    }
    #panel {
        display: none
    }
    #homeSlider {
        margin-top: 20%;
    }
    .item {
        height: 300px;
    }
    .sliderText {
        opacity: 1;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: rgba(233, 243, 204, 0.6);
        font-size: 1.2em;
        color: darkslategray;
    }
    .long {
        font-size: 1em;
    }
    .mid {
        font-size: 1.1em;
        margin-top: -10%;
    }
    #photoBurger {
        margin-top: 10%;
    }
    .c1 {
        display: none
    }
    .c2 {
        display: none
    }
    .c3 {
        display: none
    }
    .c4 {
        display: none
    }
    .charteContainer {
        height: 350px;
    }
    
}

@media all and (max-width: 1024px) {
    #dishes .carousel {
        display: none;
    }
    #responsiveDishes {
        display: flex;
        flex-direction: column;
        margin-left: -2em;
        margin-right: -2em;
    }
    .mobileRow {
        display: flex;
        justify-content: space-between;
        margin: 10px;
    }
    .mobileRow>.thumbnail {
        max-width: 49%;
        margin: 1px;
    }
    .thumbnail>.btn {
        width: 100%;
        margin-top: 0.1em;
        font-size: 1.8em;
        font-weight: bolder;
        border-radius: 2px;
        overflow: hidden;
    }
    .modal-content {
        text-align: center;
        padding: 5em 1.5em 5em 1.5em;
        border-radius: 50px;
    }
    .modal-dialog {
        top: 15%;
        width: 90%;
    }
    .modal-content>h3 {
        font-size: 5em;
        color: orange;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        font-weight: bold;
    }
    .modal-content>p {
        font-size: 3em;
    }
}