.container {
    background: rgba(0, 0, 0, 0.4);
    border: 5px solid #c30032;
    border-radius: 10px;
    margin-top: 100px;
}

.rubrique {
    text-align: center;
}

.engagement {
    color: white;
}

h2 {
    text-decoration: underline;
}

pc1 {
    color: white;
    text-align: center;
    display: none;
}

pc2 {
    color: white;
    text-align: center;
    display: none;
}

pc3 {
    color: white;
    text-align: center;
    display: none;
}

pc4 {
    color: white;
    text-align: center;
    display: none;
}

@media(max-width:767px) {
    pc1 {
        display: none
    }
    pc2 {
        display: none
    }
    pc3 {
        display: none
    }
    pc4 {
        display: none
    }
}