h2, p, h3 {
    color: white;
}

.dishes{
    z-index: 1;
}

h2 {

    padding: 1em 3em 0em 3em;


}

h3 {
    font-size: 28px;
}

p {
 font-size: 22px;
}

body {
    background-image: url("../images/red3.jpg");
    background-attachment: fixed;
    background-color: black;
}


.txt {

    text-align: center;
}

.top {
    padding-top: 15em;
}

.row {
    display: block;
}

.dishImg {
    max-width: 100%;
    min-height: 400px;
    border: 10px solid white;
    box-shadow: 10px 10px 10px #000000;


}

.imgA {
    display: block;
    margin-left: auto;
    margin-right: auto;
/*
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
*/
}

.imgB {
    /*
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
    */
}
